<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
      <form method="POST" action="/piglatinize">
        <p>Enter your phrase: <br><textarea type="text" name="user_phrase"></textarea></p>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>